# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

on init
    wait /dev/qseecom
    start vendor.qseecomd

service vendor.qseecomd /vendor/bin/qseecomd
    seclabel u:r:recovery:s0
    user root
    group root
